langchain
python-dotenv
ipykernel
langchain_groq
langchain_google_genai
langchain_community
langchain-core
langchain-core[tracing]
pyPDF
PyMuPDF
faiss-cpu
structlog
pandas
streamlit
pytest
docx2txt
-e .